{% load i18n %}

{% block subject %}
{% blocktrans %}Soundwave : Account Activation{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<p>Hello {{ user.get_username }}</p>
<p>{% blocktrans %}You're receiving this email because you need to finish your account's activation process on Soundwave.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="https://soundwave.ovh//{{ url|safe }}" style="display: inline-block; padding: 10px 20px; font-size: 16px; background-color: #000000; text-decoration: none; border-radius: 5px;">Activate your account</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Soundwave's team{% endblocktrans %}</p>

{% endblock html_body %}
